body{
	font-size: 20px;
	background: url(image.jpg);
}


.heading{
	width: 50%;
	margin: 30px auto;
	text-align: center;
	color: white;
	background: red;
	border: 2px solid #6B8E23;
	border-radius: 20px;
}

form{
	width: 50%;
	margin: 30px auto;
	background: #00FFFF;
	padding: 10px;
	border: 2px solid #6B8E23;
	border-radius: 15px;
}

.task_input{
	width: 75%;
	height: 15px;
	padding: 10px;
	border: 2px solid #228B22;
}

.priority_input{
	padding: 10px;
	border: 2px solid #6B8E23;
}

.add_btn{
	height: 35px;
	background: green;
	color: #FFF8DC ;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px 20px;
}

table{
	width: 50%;
	margin: 30px auto;
	border-collapse: collapse;
	border: 1px solid black;
	border-radius: 5px;
}

tr{
	border-bottom: 1px solid black;
	color : #0000FF;
	background: #40E0D0;
	border-radius: 5px;
}

th{
	font-size: 19px;
	color: black;
	background: #FF4500 ;
	border-radius: 5px;
}

th, td{
	border: 2px solid #228B22;
	height: 30px;
	padding: 2px;
	text-align: center;
	border-radius: 5px;
}

tr:hover{
	background : #FFF8DC;
}

.task{
	text-align: center;
	
}

.delete{
	text-align: center;
}

#del_btn{
	color: white;
	background: red;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;
}
